@model CoreProject_Raihan.ViewModels.AutherViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Auther</h4>
<hr />
<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Edit Auther</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AutherName" class="control-label"></label>
                        <input asp-for="AutherName" class="form-control" />
                        <span asp-validation-for="AutherName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AutherPicture" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="AutherPicture" class="custom-file-input" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="AutherPicture" class="text-danger"></span>
                        <img src="~/Uploads/@Model.ExistingImage" class="img-thumbnail" height="80" width="80" asp-append-version="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Qualification" class="control-label"></label>
                        <input asp-for="Qualification" class="form-control" />
                        <span asp-validation-for="Qualification" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Experience" class="control-label"></label>
                        <input asp-for="Experience" class="form-control" />
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="WrittenDate" class="control-label"></label>
                        <input asp-for="WrittenDate" class="form-control" />
                        <span asp-validation-for="WrittenDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PublishDate" class="control-label"></label>
                        <input asp-for="PublishDate" class="form-control" />
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Venue" class="control-label"></label>
                        <textarea asp-for="Venue" class="form-control"></textarea>
                        <span asp-validation-for="Venue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i> Update</button>
                <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>// Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
